@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

:root {
    --color-font: rgb(127,127,127);
    --color-font-lighter: rgb(152,152,165);
    --color-bg-global: rgb(244,244,244);
    --color-white: rgb(254, 254, 254);
    --color-border: rgb(226,226,226);
    --color-table-accent: rgb(221,236,242); 
    --color-table-header: rgb(242,242,242); 
    --color-status-ea-text:  rgb(67, 119, 114);
    --color-status-ea-bg: rgb(174, 211, 208);
    --color-status-la-text: rgb(54,117,31);
    --color-status-la-bg: rgb(216,223,210);
    --font: "Proxima Nova";
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

.bold {
    font-weight: bold;
}

body {
    background-color: var(--color-bg-global);
    font-family: var(--font || "sans-serif");
    color: var(--color-font);
    margin-bottom: 70px;
}

input[type="text"],
input[type="password"], {
    font-family: var(--font);
    color: var(--color-font);
    padding: 10px, 20px;
}

.label {
    color: var(--color-font-lighter);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 5px;
}
